@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
}
#hero{
    height: 615px;
    background-image:
    url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.hero-content{
    width: 685px;
}
.subtitle{
font-family: Work Sans;
Font-weight: 600;
Font-size: 20px;
line-height: 38px;
Letter-spacing: 0%;
text-align:center;
margin-bottom: 10px;
}

.title{
    font-family: Work Sans;
    font-size: 42px;
    font-weight: bold;
    line-height: 53px;
    letter-spacing: 0;
    text-align: center;
    width: 670px;
    margin-bottom: 16px;
}

.description{
    font-family: Work Sans;
    font-size: 12px;
    font-weight:100px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 22px;
}

.hero-btn-container{
    text-align: center;
}
.hero-btn{
    width: 188px;
    font-size: 13px;
    font-weight: 600px;
    background-color: #52C303;
    border-radius: 5px;
    padding: 14px 21px;
    border: none;
}

/* card box */
#card-box{
    width: 884px;
    height: 583px;
    margin: 0 auto;
    padding: 111px 200px 125px 200px;
    font-family: Work Sans;
    color: #101010;
}
.card-index{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 10px;
}

.card-div-title{
    width: 462px;
    margin: 0 auto;
}
.card-title{
    font-size:32px ;
    font-weight:bold ;
    line-height: 42px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 32px;
}

/* card-1 */
.card-container{
    width: 284px ;
    height: 349px;
}
.img-pizza{
    width: 284px;
    height:189px ;
    border-radius:11px ;
    margin-bottom: 21px;
}
.img-btn-div{
    text-align: center;
}
.img-btn{
    background-color: rgba(82, 195, 3, 0.15);
    width:125px ;
    height:37px ;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px ;
    text-align: center;
    border: none;
    border-radius: 6px;
    margin-bottom: 16px;
}

.img-dis{
    font-size:26px ;
    font-weight: 600;
   text-align: center;
   margin-bottom: 16px;
}
.img-description{
    width: 284px;
    font-size: 12px;
    font-weight:400 ;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
}

.card-item{
    display: flex;
    gap: 16px;
}